body {
    background-color: #f1f1f1;
    font-family : 'Open Sans', sans-serif;

}

.main{
    width: 700px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #6495ED;
    size: 30px;
}