body {
    background-color: #f1f1f1;
    font-family : 'Open Sans', sans-serif;
    width: 700px;
    padding: 20px;
    border-radius: 15px 50px 30px;
    border: 2px solid #6495ED;
    size: 30px;
}